/*@import "ptsans/ptsans.css";*/

body {
	/*font-family: "PTSans", Tahoma, sans-serif;*/
	font-size: 14px;
	line-height: 20px;
	}

.g-html h1,
.g-html h2,
.g-html h3,
.g-html table  {
	margin-bottom: 25px;
	}
.g-html p,
.g-html code,
.g-html ol,
.g-html ul {
	margin-bottom: 15px;
	}
.g-html ul {
	list-style: disc;
	margin-left: 60px;
	}
	.g-html ol > li,
	.g-html ul > li {
		margin-bottom: 5px;
		}
.g-html a {
	color: #00008b;
	text-decoration: underline;
	}
	.g-html a:hover {
		text-decoration: none;
		}
.g-html span.code {
	background: #eee;
	padding: 2px 3px;
	font-family: monospace;
	}
.g-html table {
	border-collapse: collapse;
	width: 100%;
	}
	.g-html table > thead > tr > td,
	.g-html table > tbody > tr > td {
		padding: 4px 10px;
		}
	.g-html table > thead {
		}
		.g-html table > thead > tr {
			}
			.g-html table > thead > tr > td {
				font-weight: bold;
				}
		.g-html table > tbody > tr {
			}
			.g-html table > tbody > tr > td {
				border: 1px #ddd solid;
				}
				.g-html table > tbody > tr:hover > td {
					background-color: #fafad2;
					}

.l-header {
	position: fixed;
	height: 40px;
	line-height: 40px;
	width: 100%;
	background-color: #EEE;
	border-bottom: 1px #000 solid;
	}
	.l-header-h {
		width: 960px;
		margin: 0 auto;
		}
		.l-header-h:before,
		.l-header-h:after {
			display: table;
			content: "";
			}
			.l-header-h:after {
				clear: both;
				}

.w-contents {
	float: left;
	}
	.w-contents-link {
		color: #000;
		text-decoration: underline;
		margin-right: 20px;
		}
		.w-contents-link:hover {
			text-decoration: none;
			}
		.w-contents-link.type_title {
			margin-right: 50px;
			}

.w-toggler {
	float: right;
	}
	.w-toggler-title {
		color: #777;
		}
	.w-toggler-option {
		padding: 0 3px;
		color: #000;
		text-decoration: underline;
		}
		.w-toggler-option:hover {
			text-decoration: none;
			}
		.w-toggler-option.active {
			font-weight: bold;
			}

.l-canvas {
	padding-top: 50px;
	}
	.l-canvas-h {
		width: 960px;
		margin: 0 auto;
		padding: 40px 0;
		}

.i-version.version_mootools {
	display: none;
	}


p.note { color:#000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #dfdfd5;
	background:url(../img/note.gif) no-repeat 20px 22px #f5f5ea;
	padding:20px 20px 20px 200px;
	width:auto;
	overflow-x:auto; }
p.imp { color:#000;
	border-top:1px solid #FFF;
	border-bottom:1px solid #e2d4d4;
	background:url(../img/imp2.gif) no-repeat 20px 22px #f7ebeb;
	padding:20px 20px 20px 200px;
	width:auto;
	overflow-x:auto; }

.i-tab {
	position: relative;
	left: -10px;
	top: -50px;
	display: block;
	width: 1px;
	height: 1px;
	content: "";
	}
