/*
 ********** Common parallaximus styles ***********/
.w-parallaximus {
	position: relative;
	overflow: hidden;
	/* Width and height are intended to be overloaded */
	width: 600px;
	height: 300px;
	}
	.w-parallaximus-layer {
		position: absolute;
		}
		.w-parallaximus-layer > img {
			position: absolute;
			}
		.w-parallaximus-layer > p {
			position: absolute;
			padding: 0;
			margin: 0;
			}
